---
---

<section class="home" data-home-view>
    <h1 class="title" aria-label="BlockJham">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" style="enable-background:new 0 0 299 102" version="1.1" viewBox="0 0 299 102"><path d="M22.5 101.1H0V-.1h22.4L27 4.5v29.6l-4.6 4.6 4.6 4.4v53.5l-4.5 4.5zm-9-68.5 3-3V10.8h-6.1v21.8h3.1zm2.9 57.3v-42l-3.1-3.2h-3V90h6.1zM34.5-.1H45v101.2H34.5V-.1zM73.6 101.1h-18l-4.4-4.4v-67l4.4-4.4h17.9l4.6 4.4v66.9l-4.5 4.5zm-6-11.2V36.3h-6v53.5h6zM107.1 101.1H89l-4.4-4.4V29.6l4.4-4.3h17.9l4.6 4.4v14.9H101v-8.3h-6.1v53.5h6.1v-8.2h10.5v14.9l-4.4 4.6zM118.4-.1h10.5v50.8h3l3.1-3.1V25.1h10.6v25.1l-6.4 6.4 6.4 6.3v38.2H135V65.8l-3.1-3.2h-3v38.6h-10.5V-.1zM156 101.1l-4.4-4.6V80.9H162v9h6.1v-90h10.5V96.6l-4.4 4.4H156zM212.8 101.1h-10.5V36.3h-6.1V101h-10.4V-.1h10.4v25.2h12l4.6 4.6v71.4zM242.3 25.2l4.4 4.4V101h-22.1l-4.3-4.4v-40l4.3-4.4h11.8V35.6h-5.8v7.6h-10.2V29.7l4.3-4.4h17.6zm-5.9 65.4v-28h-5.8v28h5.8zM276.6 29.7l4.4-4.4h13.5l4.4 4.6v71.3h-10.4V36.5h-3.7l-2.3 2.2v62.4h-11.9V38.7l-2.2-2.3h-3.7v64.7h-10.5V25.2h18l4.4 4.5z" class="logo"/></svg>
    </h1>
    <nav>
        <ul class="nav">
            <li><button class="nav__btn blue" data-start-btn>New Game</button></li>
            <li><button class="nav__btn orange">Tutorial</button></li>
            <li><button class="nav__btn red">Leaderboard</button></li>
            <li><button class="nav__btn green" data-settings-btn>Settings</button></li>
        </ul>
    </nav>
</section>