---
import Tabs from '../generic/tabs.astro';
import LeaderboardScores from '../generic/leaderboard-scores.astro';

const tabList = [
        { name: 'Your scores', panel: 'yourScoresPanel', id: 'tab-1'},
        { name: 'Global', panel: 'globalScoresPanel', id: 'tab-2'}
    ];
---

<section class="hide generic-view" data-leaderboard-view>
    <button class="generic-view__close -js-close" data-target-view="leaderboard" aria-label="close leaderboard">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 30.4 30.4" viewBox="0 0 30.4 30.4"><path d="M30.4 2.1 28.3 0 15.2 13.1 2.1 0 0 2.1l13.1 13.1L0 28.3l2.1 2.1 13.1-13.1 13.1 13.1 2.1-2.1-13.1-13.1z" class="generic-view__close-icon"/></svg>
    </button>
    <h1 class="generic-view__title">Leaderboard</h1>
    <Tabs tabList={tabList} />
    <section id="yourScoresPanel" role="tabpanel" aria-labelledby="tab-1" class="tabs__panel active-panel">
        <LeaderboardScores />
    </section>
    <section id="globalScoresPanel" role="tabpanel" aria-labelledby="tab-2" class="tabs__panel">
    </section>
</section>