.block-icon {
    display: block;
    background-color: var(--ui-clr-block-icon);
}
.square {
    width: 1rem;
    height: 1rem;
}
.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
}