// Add perspective to block and rotate: x 90deg to inner

.block {
    display: block;
    position: relative;
    padding: 7px;
    &--countdown {
        opacity: 0;
        background-color: var(--ui-clr-countdown);
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-name: countdown;
    }
    &.moved {
        padding: 0; 
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: background-color .2s ease;
        &.faded {
            opacity: 30%;
            transition: opacity .2s ease;
        }
        &.not-allowed {
            animation-duration: 0.15s;
            animation-iteration-count: 2;
            animation-name: shake;
        }
    }
}
[data-colour="red"] {
    background-color: var(--clr-red);
    &.selected {
        background-color: var(--clr-red-faded);
        border: 3px solid var(--clr-red);
    }
}
[data-colour="green"] {
    background-color: var(--clr-green);
    &.selected {
        background-color: var(--clr-green-faded);
        border: 3px solid var(--clr-green);
    }
}
[data-colour="blue"] {
    background-color: var(--clr-blue);
    &.selected {
        background-color: var(--clr-blue-faded);
        border: 3px solid var(--clr-blue);
    }
}
[data-colour="orange"] {
    background-color: var(--clr-orange);
    &.selected {
        background-color: var(--clr-orange-faded);
        border: 3px solid var(--clr-orange);
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0.25rem);
    }
    75% {
        transform: translateX(-0.25rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes countdown {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}