.board {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    > span {
        background-color: var(--ui-clr-board-tile);
        aspect-ratio: 1;
    }
}