@import '../mediaqueries';

.game-over {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: var(--ui-clr-overlay);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    &__inner {
        padding: 1.4rem 1rem;
        box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
        background-color: var(--ui-clr-popup);
        width: 80%;
        @include bp-450 {
            width: 23.75rem;
        }
    }
    &__title {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__p {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1.5rem;
        color: var(--ui-clr-text);
    }
    &__btn-wrapper {
        display: none;
        margin: auto;
        &.active {
            display: block;
        }
        li {
            margin-bottom: 1rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}