.generic-view {
    opacity: 0;
    padding: 1rem;
    position: relative;
    min-height: 100vh;
    background-color: var(--ui-clr-generic-background);
    &__title {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    &__close {
        position: absolute;
        right: 1rem;
        border: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
        padding: 0.3rem;
        background-color: transparent;
        svg {
            pointer-events: none;
        }
    }
    &__close-icon {
        fill: var(--ui-clr-text);
    }
    &__p {
        font-size: 1.2rem;
        line-height: 1.3em;
        margin-bottom: 1.4rem;
    }
}