.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:
        linear-gradient(0deg, transparent 91.5%, var(--clr-black) 91.6%, var(--clr-black) 100%),
        linear-gradient(90deg, transparent 91.5%, var(--clr-black) 91.6%, var(--clr-black) 100%);
    background-size: 12px 12px;
}