.leaderboard {
    margin-top: 2rem;
    border-top: 1px solid var(--ui-clr-divider);
    counter-reset: my-counter;
    &__item {
        display: flex;
        align-items: stretch;
        position: relative;
        border-bottom: 1px solid var(--ui-clr-divider);
        counter-increment: my-counter;
        &::before {
            content: counter(my-counter);
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            width: 2.5rem;
            text-align: right;
            padding: 0.5rem 0.5rem 0.5rem 0;
            margin-right: 0.5rem;
            border-right: 1px solid var(--ui-clr-divider);
            font-size: 1.8rem;
        }
    }
    &__inner {
        padding: 0.5rem 0;
    }
    &__date {
        margin-bottom: 0.2rem;
    }
    &__score {
        font-size: 1.8rem;
    }
}