.timer {
    position: relative;
    width: 100%;
    height: 0.5rem;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;

    &__bar {
        height: 3px;
        background-color: var(--ui-clr-time-bar);
        opacity: 0;
        &.show {
            opacity: 1;
        }
    }
}