---
import HomeView from '../components/views/home-view.astro';
import GameView from '../components/views/game-view.astro';
import SettingsView from '../components/views/settings-view.astro';
import Leaderboard from '../components/views/leaderboard.astro';
import TutorialView from '../components/views/tutorial-view.astro';
import '../scss/main.scss';
---

<html lang="en">
	<head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-453REYDKTD"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-453REYDKTD');
	</script>

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BlockJham</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;400&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="container__inner">
				<HomeView />
				<GameView />
				<SettingsView />
				<Leaderboard />
				<TutorialView />
			</div>
		</div>
		<script src="/src/main.ts"></script>
	</body>
</html>