---
---

<section class="hide" data-game-view>
    <section class="scores">
        <div class="scores__item">
            <span class="scores__label">
                score
            </span>
            <p class="scores__value" data-score>0</p>
        </div>
        <div class="scores__item">
            <span class="scores__label">
                assists
            </span>
            <p class="scores__value" data-assists>0</p>
        </div>
    </section>
    <div class="timer">
        <div class="timer__bar b1" data-bar></div>
        <div class="timer__bar b2" data-bar></div>
        <div class="timer__bar b3" data-bar></div>
        <div class="timer__bar b4" data-bar></div>
        <div class="timer__bar b5" data-bar></div>
        <div class="timer__bar b6" data-bar></div>
        <div class="timer__bar b7" data-bar></div>
        <div class="timer__bar b8" data-bar></div>
        <div class="timer__bar b9" data-bar></div>
        <div class="timer__bar b10" data-bar></div>
        <div class="timer__bar b11" data-bar></div>
        <div class="timer__bar b12" data-bar></div>
    </div>
    <div class="board" data-board>
        <div class="board__inner"></div>
    </div>
    <script src="/src/main.ts"></script>
</section>