body {
    background-color: var(--ui-clr-background);
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Saira Condensed', sans-serif;
    color: var(--ui-clr-text);
}