// variables
html {

    // GENERIC COLOURS
    --clr-pure-black: hsla(0, 0%, 0%, 1);
    --clr-black: hsla(0, 0%, 11%, 1);
    --clr-dark-grey: hsla(0, 0%, 15%, 1);
    --clr-grey: hsla(0, 0%, 50%, 1);
    --clr-white: rgb(255, 255, 255);
    --clr-off-white: hsl(0, 0%, 93%);
    --clr-light-grey: hsl(0, 0%, 70%);

    --clr-green: hsla(88, 63%, 61%, 1);
    --clr-red: hsla(3, 90%, 63%, 1);
    --clr-orange: hsla(28, 100%, 66%, 1);
    --clr-blue: hsla(203, 76%, 67%, 1);

    --clr-green-faded: hsla(88, 63%, 61%, 0.6);
    --clr-red-faded: hsla(3, 90%, 63%, 0.6);
    --clr-orange-faded: hsla(28, 100%, 66%, 0.6);
    --clr-blue-faded: hsla(203, 76%, 67%, 0.6);

    // UI SPECIFIC COLOURS

    --ui-clr-background: var(--clr-off-white);
    --ui-clr-grid-lines: var(--clr-white);
    --ui-clr-logo: var(--clr-dark-grey);
    --ui-clr-board-tile: var(--clr-white);
    --ui-clr-text: var(--clr-dark-grey);
    --ui-clr-time-bar: var(--clr-light-grey);
    --ui-clr-countdown: var(--clr-light-grey);
    --ui-clr-divider: var(--clr-light-grey);
    --ui-clr-block-icon: var(--clr-white);
}

.dark-mode {
    --ui-clr-background: var(--clr-dark-grey);
    --ui-clr-grid-lines: var(--clr-black);
    --ui-clr-logo: var(--clr-white);
    --ui-clr-board-tile: var(--clr-black);
    --ui-clr-text: var(--clr-white);
    --ui-clr-time-bar: var(--clr-grey);
    --ui-clr-countdown: var(--clr-pure-black);
    --ui-clr-divider: var(--clr-black);
    --ui-clr-block-icon: var(--clr-black);
}