// variables
html {

    // GENERIC COLOURS
    --clr-pure-black: hsla(0, 0%, 0%, 1);
    --clr-pure-black-faded: hsla(0, 0%, 0%, 0.6);
    --clr-black: hsla(0, 0%, 11%, 1);
    --clr-dark-grey: hsla(0, 0%, 15%, 1);
    --clr-grey: hsla(0, 0%, 50%, 1);
    --clr-white: hsl(0, 0%, 100%);
    --clr-white-faded: hsla(0, 0%, 100%, 0.1);
    --clr-off-white: hsl(0, 0%, 93%);
    --clr-light-grey: hsl(0, 0%, 70%);

    --clr-green: hsl(88, 63%, 61%);
    --clr-red: hsl(3, 90%, 63%);
    --clr-orange: hsl(28, 100%, 66%);
    --clr-blue: hsl(203, 76%, 67%);

    --clr-green-faded: hsla(88, 63%, 61%, 0.4);
    --clr-red-faded: hsla(3, 90%, 63%, 0.4);
    --clr-orange-faded: hsla(28, 100%, 66%, 0.4);
    --clr-blue-faded: hsla(203, 76%, 67%, 0.4);

    --clr-green-darker: hsl(88, 63%, 41%);
    --clr-red-darker: hsl(3, 90%, 43%);
    --clr-orange-darker: hsl(28, 100%, 46%);
    --clr-blue-darker: hsl(203, 76%, 47%);

    // UI SPECIFIC COLOURS

    --ui-clr-block-shodow-bottom: hsla(0, 0%, 0%, 0.4);
    --ui-clr-block-shodow-left: hsla(0, 0%, 11%, 0.15);
    --ui-clr-block-highlight-top: hsla(0, 0%, 100%, 0.3);
    --ui-clr-block-highlight-right: hsla(0, 0%, 100%, 0.15);
    --ui-clr-background: var(--clr-off-white);
    --ui-clr-generic-background: var(--clr-white);
    --ui-clr-grid-lines: var(--clr-white);
    --ui-clr-logo: var(--clr-dark-grey);
    --ui-clr-board-tile: var(--clr-white);
    --ui-clr-text: var(--clr-dark-grey);
    --ui-clr-time-bar: var(--clr-light-grey);
    --ui-clr-countdown: var(--clr-light-grey);
    --ui-clr-divider: var(--clr-light-grey);
    --ui-clr-block-icon: var(--clr-white);
    --ui-clr-tab-background: var(--clr-off-white);
    --ui-clr-popup: var(--clr-white);
    --ui-clr-overlay: var(--clr-pure-black-faded);
    --ui-clr-input-border: var(--clr-light-grey);
    --ui-clr-input-background: var(--clr-off-white);
}

.dark-mode {
    --ui-clr-background: var(--clr-dark-grey);
    --ui-clr-generic-background: var(--clr-black);
    --ui-clr-grid-lines: var(--clr-black);
    --ui-clr-logo: var(--clr-white);
    --ui-clr-board-tile: var(--clr-black);
    --ui-clr-text: var(--clr-white);
    --ui-clr-time-bar: var(--clr-grey);
    --ui-clr-countdown: var(--clr-pure-black);
    --ui-clr-divider: var(--clr-pure-black);
    --ui-clr-block-icon: var(--clr-black);
    --ui-clr-tab-background: var(--clr-pure-black);
    --ui-clr-popup: var(--clr-black);
    --ui-clr-overlay: var(--clr-white-faded);
}