---
---

<section class="game-over hide" data-game-over-panel>
    <div class="game-over__inner">
        <h2 class="game-over__title">Game Over</h2>
        <p class="game-over__p">You scored <span class="game-over__score" data-game-over-score></span></p>
        <div class="" data-enter-global-leaderboard>
            
        </div>
        <ul class="game-over__btn-wrapper">
            <li><button class="btn btn--small blue" data-new-game-btn>Start New Game</button></li>
            <li><button class="btn btn--small red" data-quit-btn>Quit</button></li>
        </ul>
    </div>
</section>